<!DOCTYPE html>
%html
 %head
 %body
  %div.header グループを作成しました
  %div.sidebar
   %div.sidebar__header
    %p.sidebar__header__user-name test-user
    %div.sidebar__header__edit-user
     =link_to do
      %i.fa.fa-gear
    %div.sidebar__header__new-group
     =link_to do
      %i.fa.fa-pencil-square-o
   %div.sidebar__group-info
  %div.main
   %div.main__header
   %div.main__messages
   %div.main__input-form
