<!DOCTYPE html>
%html
 %head
 %body
  %div.header グループを作成しました
  %div.sidebar
   %div.sidebar__header
   %div.sidebar__group-info
  %div.main
   %div.main__header
   %div.main__messages
   %div.main__input-form
