<!DOCTYPE html>
%html
 %head
 %body
  %div.header グループを作成しました
  %div.sidebar
   %div.sidebar__header
    %p.sidebar__header__user-name test-user
    %div.sidebar__header__edit-user
     =link_to do
      %i.fa.fa-gear
    %div.sidebar__header__new-group
     =link_to do
      %i.fa.fa-pencil-square-o
   %div.sidebar__group-info
    %div.group
     %p.group__name test-group
     %p.group__latest-message さようなら
  %div.main
   %div.main__header
    %div.current-group
     %p.current-group__name test-group
     %p.current-group__member Member : test-user
    %div.main__header__edit-bottom
   %div.main__messages
   %div.main__input-form
