@import "./reset";
@import "font-awesome";

html, body{
  height: 100%;
  width: 100%;
}

.header{
  background-color: #38AEF0 ;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
}

.sidebar{
  float: left;
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
}