@import "./reset";
@import "font-awesome";
@import "sidebar";
@import "main";
@import "modules/user";
@import "config/colors";
@import "modules/flash";

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}


